= stylesheet_link_tag 'admin/assets'
= javascript_include_tag 'admin/assets_admin'

%fieldset.asset_attachment
  #attachment_list.assets
    %ul#attachment_fields{:class => @page.page_attachments.empty? ? 'empty' : ''}
      = render :partial => 'admin/page_attachments/attachment', :collection => @page.page_attachments
  .attach-assets
    .message
      - if @page.page_attachments.empty?
        = t('clipped_extension.no_attached_assets')
    = link_to 'path/to/page.html' '#attach_asset', :class => 'button', :id => 'attach_assets' do
      %i.far.fa-image
      = t('clipped_extension.assets')