%tr.page{:class =>"branch", :data => { :tt_branch => branch.to_s,  :tt_id => page.id, :tt_parent_id => parent_index, :tt_page_id => page.id}, :id => "page_#{page.id}"}
  - render_region :node, :locals => {:page => page, :level => level, :simple => simple} do |node|
    - node.title_column do
      %td.name
        %span.w1
          - if simple
            = icon
            = node_title
          - else
            = (link_to("#{icon} #{node_title}".html_safe, edit_admin_page_path(page), :title => page.path)).html_safe
            = page_type
            = spinner
    - node.status_column do
      - unless simple
        %td.status
          %span.status{:class => "#{page.status.name.downcase}_status", :title => "#{timestamp(page.published_at) if page.published_at}"}= t(page.status.name.downcase)
    - node.actions_column do
      - unless simple
        %td.actions
          = page.add_child_option
          = page.remove_option
