#previous-versions
  %fieldset
    %h4
      %i.fas.fa-clock-rotate-left
      Previous Versions
    .drawer_contents#versions
      - if @versions.present?
        %section
          %table
            %thead
              %tr
                %th Date Updated
                %th Time Updated
                %th Updated By
                %th Action
            %tbody{ :id => 'versions-table' }
              - @versions.each do |version|
                %tr
                  %td= version[:update_date]
                  %td= version[:update_time]
                  %td= version[:updated_by]
                  %td
                    = button_to 'Restore', 
                      restore_version_admin_page_path(@page, version_index: version[:index]),
                      method: :put,
                      data: { confirm: 'Are you sure you want to restore this version?' }
      - else
        %section#no-previous-versions
          %p No previous versions are available.
    .drawer_handle
      %a.toggle{:href=>'#versions', :rel=>'toggle[versions]', :class=>"#{(meta_errors? ? 'less' : 'more')}"}
        = meta_label
        %i.fas.fa-angle-down
