- @page_title = t('search') + ' - ' + default_page_title

.outset
  = render_region :top
  = render 'search_form', query: @query, show_view_all_button: true
  %table.index.tablesaw#pages{ :summary => t('page_hierarchy') }
    %thead
      %tr
        - render_region :sitemap_head do |sitemap_head|
          - sitemap_head.title_column_header do
            %th.name= t('page')
          - sitemap_head.path_column_header do
            %th.path= t('path')
          - sitemap_head.status_column_header do
            %th.status= t('status')
          - sitemap_head.actions_column_header do
            %th.actions= t('modify')
    %tbody
      - if @pages.present?
        - @pages.each do |page|
          = render_search_node(page).html_safe
      - else
        %tr.sortable
          %td.empty{ :colspan => admin.page.index.node.length }= t('no_pages_found')

= render_region :bottom
