- body_classes << "single_form"

#single_form

  %h3= t('reset_your_password')

  = form_tag admin_password_resets_path, :method => :post do
    %p
      %label{:for=>"email"}= t('email')
      = text_field_tag :email, params[:email], :class => 'textbox', :maxlength => 70, :size => 70
    .actions
      = submit_tag "Reset Password"

  %p.version
  = t('powered_by')
  %a{ :href => "https://github.com/pgharts/trusty-cms" } TrustyCms CMS
  = t('version')
  = TrustyCms.loaded_via_gem? ? "#{TrustyCms::VERSION} (gem)." : "#{TrustyCms::VERSION}."
