- body_classes << 'login_form'
.login-form-content
  .visual
    = image_tag('/assets/admin/default_safe_login.svg', alt: 'web browser with padlock on top')
  .login
    %h1 Log in
    = form_for(resource, as: resource_name, url: authenticate_path) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email'
      .field
        = f.label :password
        = f.password_field :password, autocomplete: 'current-password'
      - if devise_mapping.rememberable?
        .field
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember Me
      %br
      .actions
        = f.submit 'Log in'
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to 'Forgot your password?', new_password_path(resource_name)
      - if flash.alert
        .error= flash.alert