- @page_title = t('snippets') + ' - ' + default_page_title

.outset
  = render_region :top
  %table.index#snippets
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.name= t('snippet')
          - thead.actions_header do
            %th.actions{:style=>'width:9em'}= t('modify')
    %tbody
      - if @snippets.any?
        - @snippets.each do |snippet|
          %tr[snippet]
            - render_region :tbody, :locals => {:snippet => snippet} do |tbody|
              - tbody.title_cell do
                %td.name
                  = link_to edit_admin_snippet_url(snippet) do
                    %i.far.fa-sticky-note
                    = snippet.name
              - tbody.actions_cell do
                %td.actions
                  = link_to remove_admin_snippet_url(snippet), :class => 'action' do
                    %i.fas.fa-minus-circle
                    = t('remove')
      - else
        %tr
          %td.empty{:colspan => admin.snippet.index.tbody.length}= t('no_snippets')

- render_region :bottom do |bottom|
  - bottom.new_button do
    #actions
      = pagination_for(@snippets)
      %ul
        %li
          = link_to new_admin_snippet_url, class: 'action_button' do
            %i.fas.fa-plus-circle
            =t('new_snippet')
