- if admin? && defined?(Site) && defined?(controller) && controller.sited_model? && controller.template_name == 'index' && Site.several?
  %nav#site_chooser
    %ul#nav
      %li
        = "Current Site: #{current_site.name}"
        %ul.expansion
          - Site.all.each do |site|
            %li
              = link_to( site.name, "#{request.path}?site_id=#{site.id}", :class => site == current_site ? 'fg site-link' : 'site-link')