- @page_title = 'Recent Changes - ' + default_page_title

.outset
  = render_region :top
  %table#recent-changes
    %thead
      %tr
        %th Title
        %th Action
        %th User
        %th Updated At
    %tbody
      - @recent_changes.each_with_index do |change, index|
        %tr.change-row{ data: { toggle_target: "diff-#{index}" } }
          %td= link_to change[:page_title], change[:page_url]
          %td= change[:action]
          %td= change[:user_name]
          %td
            = change[:updated_at]
            - if change[:diff]
              %br
              %a.toggle-diff{ href: "#", data: { toggle: "diff-#{index}" } } Show Diff

        - if change[:diff]
          %tr.diff-row{id: "diff-#{index}", style: "display: none;" }
            %td{ colspan: 4 }
              .diff-content
                != change[:diff]
