- @page_title = t('users') + ' - ' + default_page_title

= render_region :top

.outset
  %table.index.tablesaw#users
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.title_header do
            %th.user== #{t('name')} / #{t('username')}
          - thead.roles_header do
            %th.roles= t('roles')
          - thead.two_factor_status_header do
            %th.two_factor_status
              = t('two_factor_authentication_status')
          - thead.disable_two_factor_header do
            %th.disable_two_factor
              Disable 2FA
          - thead.actions_header do
            %th.actions= t('modify')
          - thead.last_sign_in_at_header do
            %th.last_sign_in_at= "Last Sign In"
    %tbody
      - @users.each do |user|
        %tr[user]
          - render_region :tbody, :locals => {:user => user} do |tbody|
            - tbody.title_cell do
              %td.name
                = link_to user.name, edit_admin_user_url(user)
            - tbody.roles_cell do
              %td.roles= roles(user)
            - tbody.two_factor_status_cell do
              %td.two_factor
                - if user.otp_required_for_login
                  = t('enabled')
                - else
                  = t('disabled')
            - tbody.disable_two_factor_cell do
              %td.actions
                - if user.otp_required_for_login
                  - if !current_user.admin?
                    %span.action.disabled
                      %i.fas.fa-minus-circle
                      Disable
                  - else
                    = button_to 'Disable', disable_2fa_admin_user_path(user), method: :patch, data: { confirm: "Are you sure you want to disable 2FA for this user?" }
            - tbody.actions_cell do
              %td.actions
                - if !current_user.admin?
                  %span.action.disabled
                    %i.fas.fa-minus-circle
                    = t('remove')
                - else
                  = link_to remove_admin_user_url(user), :class => 'action' do
                    %i.fas.fa-minus-circle
                    = t('remove')
            - tbody.last_sign_in_at_cell do
              -if user.last_sign_in_at.present?
                %td.last_sign_in_at= user.last_sign_in_at.to_date
              - else
                %td.last_sign_in_at

- render_region :bottom do |bottom|
  - bottom.new_button do
    - if current_user.admin?
      #actions
        = pagination_for(@users)
        %ul
          %li
            = link_to new_admin_user_url, :class => 'action_button' do
              %i.fas.fa-plus-circle
              = t('new_user')

